@inject UserState userState
@inject NavigationManager NavigationManager

<BSCol ColumnLarge="4" ColumnMedium="4" ColumnSmall="6" Column="6">
    <div @onmouseover="OnMouseEnter" @onmouseout="OnMouseLeave">
        <MudPaper Class="theme-card-paper" Elevation="@elevation" @onclick="OnCardClick" Style="@($"background:{Background};color:{MudBlazor.Colors.Shades.White}")">
            <div class="d-flex theme-card-content">@ColorName</div>
        </MudPaper>
    </div>
</BSCol>

@code {
    private int elevation { get; set; } = 0;
    [Parameter]
    public string Background { get; set; }

    [Parameter]
    public string ColorName { get; set; }

    [CascadingParameter]
    public MudDialogInstance MudDialog { get; set; }

    [CascadingParameter]
    public EventCallback<bool> SetLoader { get; set; }

    private void OnMouseEnter()
    {
        elevation = 3;
    }

    private void OnMouseLeave()
    {
        elevation = 0;
    }

    private async Task OnCardClick()
    {
        MudDialog.Close(DialogResult.Ok(true));
        await userState.SetTheme(Background);
    }
}