html, body {
    margin: 0;
    height: 100%;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #f3f6f7;
    height: 100vh;
}

main {
    flex: 1;
}

header {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.home-icon {
    cursor: pointer;
}
.avatar-wrapper {
    margin-left: auto;
}

#mud-snackbar-container {
    position: absolute;
    top: 0;
    width: 75%;
}


h1 {
    font-family: cursive;
    position: absolute;
}


@media (max-width: 991px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 640.98px) {
    header {
        height: 3.75rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}